@model ProiectDAW.Models.Product

@{
    ViewBag.Title = "Adaugare Produs";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@using (Html.BeginForm(actionName: "New", controllerName: "Products", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Titlu", "Titlu Produs")
    <br />
    @Html.TextBox("Titlu", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Titlu, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Descriere", "Continut Produs")
    <br />
    @Html.TextArea("Descriere", null, new { @class = "form-control" })
    @Html.ValidationMessage("Descriere", null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Pret", "Pret Produs")
    <br />
    @Html.TextBox("Pret", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Pret, null, new { @class = "text-danger" })
    <br /><br />



    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategorieID, new SelectList(Model.Categ, "Value", "Text"),
    "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategorieID, "", new { @class = "text-danger" })
    <br />
    <br />


    <label>Incarca Imagine</label><br />
    <input type="file" name="ImageFile" required>

    <br />
    <br />

    <button class="btn btn-sm btn-success" type="submit">Adauga produs</button>
}
